<title>PHP Getting Started on Heroku</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script
  src="{{ canvas.client.instanceUrl }}/canvas/sdk/js/{{ canvas.context.environment.version.api }}/canvas-all.js"></script>
<script>
  const canvas = {{ canvas | json_encode | raw }};
  const url = `/services/data/v26.0/query?q=SELECT+ID,NAME+FROM+Profile+WHERE+Id='${canvas.context.user.profileId}'`;
  Sfdc.canvas.client.ajax(url, {
    client: canvas.client,
    method: 'GET',
    contentType: "application/json",
    success: function (data) {
      const records = data.payload.records;
      if (records.length > 0) {
        $('#profile-name').text(records[0].Name);
      }
    }
  });
</script>