{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>取引先一覧</h1>
    <ul>
    {% for account in accounts %}
      <li>{{ account.Name }}</li>
    {% else %}
      <li>取引先はありません。</li>
    {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
